html {
  box-sizing: border-box;
}
// можно сразу border-box ниже, без inherit, тогда html будет не нужен
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // нет безопасных шрифтов
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  min-width: 320px;
  // цвет фона указа, а цвет шрифта нет
  background-color: $baltic;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
/*
.visually-hidden .list-reset по мне так это глобальные настройки, а вот
.feedback-form .feedback-form-phone, .products-swiper и тп это уже отдельные настройки библиотек
*/
.feedback-form .feedback-form-phone {
  & .m-input-wrapper {
    border: none;
    font-weight: 500;
    font-family: 'Montserrat';
    color: $stardust;
  }

  & .m-phone-number-input__select {
    width: 131px !important;
    height: 38px;
    border-right: 1px solid $grey;
    z-index: 2;

    & .m-input.--should-up .m-input-label,
    & .m-input:not(.--should-up) .m-input-label {
      transform: scale(1) translateY(-.9em);
      font-size: 10px;
    }

    & .m-input-input {
      margin-left: 3px;
      font-size: 12px;
      color: $black;
      font-weight: 500;
    }

    & .m-select-chevron {
      color: $grey;
    }
  }

  & .m-phone-number-input__input {
    & .m-input-input {
      color: $black;
      font-size: 14px;
      font-weight: 500;
    }
  }

  & .m-input.--md {
    height: 100%;
  }

  & .m-phone-number-input__country-flag {
    z-index: 3;
    font-weight: 500;
    font-size: 17px;
  }
}

.products-swiper {
  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid $christi;
    background: none;
    opacity: 1;
  }

  & .swiper-pagination-bullet-active {
    background-color: $christi;
  }
}

.advantage-swiper {
  & .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: $dustygray;
    opacity: 1;
  }

  & .swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    border: 1px solid $christi;
    background: $christi;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}