$white: #ffffff;
$alabaster: #f8f8f8;
$black: #000000;
$lightblack: #000000da;
$baltic: #1f1e23;
$christi: #59a417;
$lightgrey: #e9edf1;
$stardust: #959595;
$dustygray: #979797;
$grey: #cdcdcd;
$thunder:#231f20;
$abbey: #4f5257;
$vida: #4b8a13;
$sanfelix: #2b5705;
$laurel: #008000;
$red: #ff0000;
$orange: #ffa500;
$haze: #c5d0de